body{
    background-color:thistle;
}

h1{
    color:rgb(34, 82, 78);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

p{
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.strengths{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 380px;
    padding-right: 100px;
}

.weaknesses{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 380px;
}

.picture{
    text-align: center;
}

.snape-img{
    /* padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; */

    /* padding: 10px 20px 10px 20px; */

    /* padding: 10px 20px; */

    padding: 20px;
}