.carousel-inner img {
    width: 100%;
    height: 100%;
  }

body{
    background-color:rgb(220, 228, 234);
}

.sizecarousel{
    margin: auto;
    width: 70%;
    border: 3px solid rgb(182, 177, 213);
    padding: 10px;
}

h1{
    text-align: center;
}

header{
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(95, 113, 130);
}

.carouselcolor{
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(67, 67, 215), 0 0 5px rgb(21, 40, 101);
    color:rgb(255, 255, 255)
}

.uwu{
    padding-top: 50px;
    padding-left: 100px


}